body{
  background-color:blue;
  background-repeat: no-repeat;
  background-size: cover;
}

aside {
  display: inline-block;
  vertical-align: top;
}

.sideList{
  border: solid orange 4px;
  padding: 2%;
  display: inline-block;
  width: 20vw;
  text-align: center;
  margin-top:20%;
  margin-left:10%;

}

.dice{
 background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;


}

.box{
  /* border: solid black 1px; */
  padding: 5%;
  margin-bottom: 5%;
  margin-right:3%;
  background-color:lightskyblue;
  opacity: 0.8;
  margin-left:2%;

}

.mainBox{
display: inline-block;
height:7vh;
width:6vw;
/* background-color:orange; */
background-color: white;
margin-top:2%;
margin-left: 1%;
position:relative;

}


.mainCards{
  /* border: solid black 1px; */
  padding: 3%;
  width: 65vw;
  height: 20%;
  display: inline-block;
  margin-left:3%;

}


.card{
display: inline-block;
height:7vh;
width:6vw;
/* background-color:brown; */
background-color:gray;

margin-top:2%;
margin-left: 1%;
position:relative;
border-radius: 50%;

/* margin-right:15px; */
}
.hiddenCard{
visibility:hidden;
}

.human{
width:60px;
height:50px;
position: absolute;
margin: auto;
left: 40%;
top: 20%;
background-size: contain;
/* z-index: 1; */
/* display: inline; */
background-image: url("https://thumbs.gfycat.com/BigheartedTanHairstreak-small.gif");
background-repeat: no-repeat;


}

.allButtons{
  margin-left:10%;
  margin-top: 5%;
  font-weight: bold;
  width: 10%;
  background-color: lightgoldenrodyellow;
  border:solid darkred 4px;

}


.zombie1{
width:60px;
height:60px;
position: absolute;
margin: auto;
left: 20%;
top: 1%;
background-size: contain;
}

#randomNum {
  position:relative;
}


h1{
  color: white;
}
