body{
  background-image:url("./ZombieBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
aside {
  display: inline-block;
  float: right;
  margin-right: 10%;
}
.sideList{
  border: solid orange 4px;
  padding: 2%;
  display: inline-block;
  width: 20vw;
  text-align: center;
  margin-top:20%;
  margin-left:10%;
}
.dice{
 background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.box{
  padding: 5%;
  margin-bottom: 5%;
  margin-right:3%;
  background-color:pink;
  opacity: 0.8;
  margin-left:2%;
  color:green;
}

.zombie1{
width:60px;
height:60px;
position: absolute;
margin: auto;
left: 20%;
top: 1%;
background-size: contain;
}

.gridBox{
display: inline-block;
height:7vh;
width:5vw;
position:relative;
background-size: contain;
margin: 0.6%;
top: 2%;
background-image: url("./squarestone.jpg");
}

.location{
background-image: url("./squarestone.jpg");
display: inline-block;
height:7vh;
width:6vw;
position:relative;
background-size: contain;
margin: 1%;
}

.hidden {
  visibility: hidden;
}

.human{
width:6vw;
height:7vh;
position: absolute;
margin: auto;
left: 30%;
top: 1%;
background-size: contain;
background-image: url("./Human.gif");
background-repeat: no-repeat;
}

.modal-start{
  background-color: black;
  color:green;
  border: orange solid 5px;
  position: absolute;
  display: inline-block;
  width: 50%;
  height:55%;
  z-index: 5;
  font-size: 25px;
  margin-top: 10%;
  margin-left: 6.5%;
}
#closeModal{
  width: 20%;
  height: 30%;
  margin-left:40%;
  margin-top:1.5%;
}

h1 {
  color:green;
}

.allButtons{
  margin-left:10%;
  margin-top: 5%;
  font-weight: bold;
  width: 20%;
  background-color: lightgoldenrodyellow;
  border:solid darkred 4px;
}

.battery {
  background-image: url("./battery.jpg");
  background-size: 35px;
  background-repeat: no-repeat;
  position: absolute;
  background-size: contain;
}
